body {
	background-image: url("../imgs/mountains.jpg");
	background-size: cover;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	background-attachment: fixed;
}

nav {
	margin-top: 10px
}

/* Header has gradient added to it to keep the awesomeness of the background image */

header {
	text-align: center;
	background-color: #E6E6E6;
	background: linear-gradient(#DF7401, gray);
	position: static;
	border-radius: 10px;
    }

h1 {
    font-size: 50px;
}

h1 {
    font-size: 30px;
}

a:link {
	color: #DF7401;
}

a:hover {
	color: #FF4000;
}

a:visited {
	color: #4C0B5F;
}

/*gradient added */
main {
	text-align: center;
	background: linear-gradient(white, #BDBDBD);
	position: static;
	padding: 15px 10px 15px 10px;
	border-radius: 10px;

}

footer {
	text-align: center;
	color: #DF7401;
	position: static;
	font-size: 7px;
}

/*applying this CSS to img for now since only one img is embedded*/
img {
	border: 2px solid #BDBDBD;
    border-radius: 25px;
	margin: 15px 10px 15px 10px

    

}
