
/* html, body {
  margin: 0; padding: 0; border: 0
} */

/* body {
  display: flex;
  justify-content: center;
} */

.photo-menu-tiles {
  margin-top: 100px;
  height: 75vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.photo-menu-tiles img  {
  margin: 10px;
}

.site-title {
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
}

.site-title a {
    color: 	#696969;
    text-decoration: none;
}

.navbar {
    overflow: hidden;
    background-color: white;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    float: left;
    display: block;
    color: black;
    /*padding: 0px 0px 0px 5px;*/
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    z-index: 99999999999999 !important;
}



.navbar-bottom {
    overflow: hidden;
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    float: left;
    display: block;
    color: black;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding: 5px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    z-index: 99999999999999 !important;

}


.navbar-bottom a {
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: 	#696969;
    text-align: right;
    font-weight: bold;
}


.navbar-bottom img {
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  float: right;
}



#about {
  margin: 100px 15px 15px 40px;
  width: 69%;
  float: left;
  font-family: Courier, Arial, sans-serif;

}

#about ul {
  list-style: none;
}

@media only screen and (max-device-width: 611px){
  .site-title {
      font-size: 330%;
      text-decoration: none;
      font-family: Helvetica, Arial, sans-serif;
      text-align: center;
  }


  .photo-menu-tiles {


    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: flex-start;
    margin-top: 300px;
  }

  .photo-menu-tiles {
    font-size: 100px;
  }

  .navbar {
      /*padding: 0px 0px 0px 10px;*/
      margin-bottom: 0;
      padding-top: 10px;
  }

  /* .navbar-bottom {
    height: 50px;
  } */

  .navbar-bottom img {
    vertical-align:middle;
    margin-left: 60px;
    margin-right: 60px;
    height: 40px;
    width: 40px;
  }

  .navbar-bottom a {
      font-size: 300%;
  }

  #about {
    margin: 200px 15px 15px 40px;
    font-family: Courier, Arial, sans-serif;
    font-size: 270%;
    width: 80%;

  }
}
