body { 
        color: ; 
        width: 960px; 
        margin: 0 auto; 
}

a { 
    color: #5e5e5e; 

}

body, .perma-title, .menu-item { 
    background: ; 

}

a { 
    text-decoration: none; 

}

      
body, .perma-title { 
    font-family: Helvetica, Arial, sans-serif; 

}    
      
body { 
    font-size: 87.5%; 

}

#nav ul{ 
    display: none;
    list-style: none;
    float: right;
    position: relative;
    left: -50%;
    text-align: left;
    

}



#menu-title, #contact { 
    font-size: 150%;
    float: right;
    position: relative;
    left: -50%;
    text-align: left;
}

.contact-imgs {
                display: none;
                width: 100%; 
                margin: 0 auto;
}

.photos {
    float: right;
}  

.photos img {
    width: 900px;
    @media only screen and (max-device-width: 480px) 

    
}

.site-tile a{
    float: left;
}

.title {
    width: 100px;
    padding: 0;
}
