body {
  margin: 20px;
  padding: 0;
}

.container {
  max-width: 760px;
  margin: auto;
  border: #000000 solid 3px;
}

.main-img img, .imgs img {
  width: 100%;
}

.imgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}
